## Pandas data Manipulation

In [17]:
# Basic concepts
import pandas as pd   

# Creating a dataframe 
data = {"Name": ["Ana", "Bruno"], "Age": [19, 20] }
df = pd.DataFrame(data)
display(df)

    Name  Age
0    Ana   19
1  Bruno   20

In [18]:
# Show the data 
print(df["Name"]) # Acessing the name column
print(df.iloc[0]) # Acessing the first row
print(df[df["Age"] > 19]) # Acessing the rows where the age is greater than 19

0      Ana
1    Bruno
Name: Name, dtype: object
Name    Ana
Age      19
Name: 0, dtype: object
    Name  Age
1  Bruno   20

In [19]:
# Statistics
print(df["Age"].mean()) # Acessing the mean of the age column

19.5

### Exercise

Crie um programa que:

- Crie um DataFrame com 3 colunas: "Produto", "Preço" e "Quantidade".
- Adicione 3 produtos com seus respectivos preços e quantidades.
- Calcule o valor total de cada produto (Preço * Quantidade) e adicione como uma   nova coluna.
- Mostre o DataFrame completo.

In [20]:
data = {"Product" : ["Smartphone", "Tablet", "Laptop"],
        "Quantity" : [10, 5, 3],
        "Price" : [1000, 500, 2000]
} # Creating a dataframe

df = pd.DataFrame(data) # Creating a dataframe

# Adding a new column
df["Total"] = df["Quantity"] * df["Price"]

print(df) # Acessing the dataframe

      Product  Quantity  Price  Total
0  Smartphone        10   1000  10000
1      Tablet         5    500   2500
2      Laptop         3   2000   6000

In [21]:
# Agrouping data
df = pd.DataFrame({
    "Product" : ["A", "A", "B", "B", "C"],
    "Sales" : [10, 15, 20, 25, 30]
})


agrup = df.groupby("Product")["Sales"].sum()
print(agrup)

Product
A    25
B    45
C    30
Name: Sales, dtype: int64

In [22]:
# Ordenation
df = df.sort_values("Sales", ascending=False)
print(df)

  Product  Sales
4       C     30
3       B     25
2       B     20
1       A     15
0       A     10

In [23]:
""" Exercício 3: pandas
Crie um DataFrame com 5 produtos e vendas em diferentes cidades.
Use o groupby para calcular o total de vendas por produto.
Ordene os produtos pelo total de vendas de forma decrescente."""


df = pd.DataFrame({
    "Products": ["A", "B", "C", "C", "D"],
    "Sales": [100, 200, 200, 100, 300]
})

group = df.groupby("Products")["Sales"].sum()
print(group)

sorted_group= df.sort_values("Sales", ascending=False)
print(df)

Products
A    100
B    200
C    300
D    300
Name: Sales, dtype: int64
  Products  Sales
0        A    100
1        B    200
2        C    200
3        C    100
4        D    300